<!DOCTYPE html>
<html>
<head>
  <title>Nwmls</title>
  <%= stylesheet_link_tag    "nwmls/application", media: "all" %>
  <%= javascript_include_tag "nwmls/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
